{% block header %}
<header>
        <title>Pajaro Diablo Oficial</title> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="static/dist/bundle.js" type="text/javascript"></script>  
</header>
{% endblock %}
{% block menu %}
<h1 class="titlePage">PAJARO DIABLO - Pagina oficial</h1>
<div class="menuNav">
    <a href="/">INICIO</a>
    <a href="/shows">SHOWS</a>
    <a href="/integrantes">INTEGRANTES</a>
    <a href="/videos">VIDEOS</a>
    <a href="/imagenes">IMAGENES</a> 
</div>
{% endblock %}
{% block content %}
{% endblock %}
{% block footer %}
<footer class="footer">Copyright by Eibertek </footer>
{% endblock %}