@import url('https://fonts.googleapis.com/css?family=Julee|Lobster|Zilla+Slab+Highlight');

h1.titlePage {
    font-family: 'Zilla Slab Highlight';
    font-size: 50px;                
}
.menuNav a {
    font-family: 'Lobster', cursive;
    font-size: 30px;
} 
.menuNav a:hover {
    background-color:rgb(100,150,120);
}