<!DOCTYPE html>
{% extends "base.twig" %}
<html lang="en">
    {% block header %}    {{ parent() }}{% endblock %}    
    <body>
        {% block menu %}   {{ parent() }} {% endblock %}
        {% block content %}
               WHAAAA      
        {% endblock %}
        
    </body>
</html>